body {
            background-color: grey;
}
h1 {
            color: black;
            text-align: center;
}
div.contenedorPrimario {
            padding: 10px;
            border-radius: 10px;
            background-color: #f5f5dc;
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 10px;
}

div.contenedorSecundario1, div.contenedorSecundario2, div.contenedorSecundario3 {
            border: 2px solid black;
            border-radius: 10px;
            width: 30%;
            background-color: white;
            margin: auto;
            display: flex;
            flex-direction: column;
            align-items: center;
            padding: 10px;
}

.contenedorCabezaPost {
            width: 80%;
            display: flex;
}
.derecha {
            margin-left: auto;
}

.descripcion {
            width: 80%;
            margin: auto;
            padding: 10px;
}